extends ./layout.jade

block header
  | Übersicht

block headerdesc
  p Übersicht der Vorfälle

block content
  p Hier entsteht eine neue Seite
  b test
  p=schadenArray
  ul
    each val, index in schadenArray
      li= index + ': ' + val.sonstiges