link(rel='stylesheet', href='/css/bootstrap.css')
// Font Awesome
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
// Ionicons
link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
// Theme style
input(type='button', value='Zurück', name='back_button', onclick='javascript:history.back(1)')
h1(align="center")  #{message}
p(align="center")
	img(src='/images/404.jpg')